.header {
    overflow: hidden;
    height:100px;
    background-color: rgb(93, 97, 146); 
    padding: 20px;
    text-align: center;
}

#logo{
    margin-top: 15px;
    display:block;
    position: relative;
    float:left;
    height: 100%; 
    width: 20%;

}

img{
   height:75%;
}

#title{
    margin-top:auto;
    margin:auto;
    width:50%;
}

h1{
    margin-top:15px;
    display:block;
    text-align: center;
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size:4vw;
    font-style: oblique;
    color:#f2f2f2;
    text-transform: uppercase;
    text-shadow: 3px 2px#0a0505;
}

#logout{
    float:right;
    margin-top: 25px;
}

#logout a {
    float:right;
    background-color: rgb(47, 34, 119);
    color: #f2f2f2;
    text-align: center;
    margin-top:10px;
    padding: 10px 16px;
    text-decoration: none;
}

#logout a:hover {
    color: black;
}

.nav{
    margin:auto;
    overflow: hidden;
    background-color: rgb(47, 34, 119);
    /* background-color: rgb(75, 60, 161); */
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(93, 97, 146);
    color: black;
    border:solid;
}

.active{
    background-color: rgb(93, 97, 146);
    color: black;
    border:solid;
}


.columns{
    margin-top:3%;
    margin-bottom:3%;
    clear:both;
}


#exercises {
    float: left;
    width: 30%;
    margin-left:3.5%;
    border-style:solid;
    background-color: rgb(93, 97, 146); 

}

#history {
    float: left;
    width: 30%;
    margin-left:1%;
    margin-right:1%;
    border-style:solid;
    background-color: rgb(93, 97, 146); 

}

#prs {
    float: left;
    width: 30%;
    border-style:solid;
    background-color: rgb(93, 97, 146); 

}

.columns a{
    overflow:hidden;
    margin:auto;
    display: block;
    width:25%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(47, 34, 119);
}

.columns a:hover {
    background-color: rgb(93, 97, 146);
    color: black;
}

html{
    position:relative; 
    min-height: 100%;
  }

body{
    margin:0;
    background-color:  #666;
}

form > h2{
    font-family: 'Poppins', sans-serif;
    color:#fff;
}

form {
    margin-left:25%;
    text-align: center;
    background-color:  rgb(47, 34, 119);
    width:50%;
}
#author {
    list-style-type: none;
}

#login {
    background-color: rgb(93, 97, 146);
    border:solid;
}

#bottom_login{
    margin-top:50px;
    background-color:#666;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.footer {
    display: inline-block;
    vertical-align: bottom;
    position: -webkit-sticky;
    position: absolute;
    bottom: 0;
    padding: 5px;
    margin-top:25px;
    margin-bottom:0;
    clear:both;
  }

.clear {
    margin-top:50px;
    margin-bottom:50px;
    clear:both;
}

.exercise_nav{
    height: 50px;
    background-color: #FFF;
    margin-top:0;
}

.dropbtn {
    background-color:  rgb(47, 34, 119);
   
    text-align: center;
    color: white;
    width:100px;
    height:50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: left;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(93, 97, 146);
    border:solid;
}

p{
    font-family: 'Poppins', sans-serif;
    margin-top:0;
    margin-bottom:0;
    font-size:2em;
    font-weight: bold;
    /* font-size:35px; */
    text-align: center;
}

#exercise_btns{
    text-align:center;
    position:relative;
    margin-bottom:15px;
    margin-top:0;
}

#exercise_content{
    text-align:center;
    border-collapse: collapse;
    padding: 0px 80px;
    font-size: 20px;
}

ul{
    list-style-type:none;
}

#history_header{
    height: 50px;
    background-color: #FFF;
    margin-top:0;
    text-align:center;
}

h4{
    padding-top:5px;
    font-size:2em;
    margin-top:0;
    margin-bottom:0;
}

#workout_column {
    margin-top:50px;
    text-align: center;
    float: left;
    width: 49.8%;
    border:solid;
    /* background-color:#FFF; */
    background-color: rgb(93, 97, 146); 

}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:35px;
}

#logout_page{
    margin:auto;
    margin-top:100px;
    border:solid;
    width: 50%;
    background-color: rgb(93, 97, 146); 
}

h6{
    font-family: 'Poppins', sans-serif;
    font-size:3em;
    text-align: center;
}

#bottom_logout{
    text-align: center;
}

tbody, th, td { 
   border: 1px solid black; 
   padding:0px 0px;
   /* border: solid 1px #D1D8E1; */
   border-collapse: collapse;
   padding: 4px 4px;
   font-size: 17px;
 }
 table{
    margin-left:25%;
    text-align: center;
    /* background-color:  rgb(191, 189, 202); */
    background-color: rgb(93, 97, 146);
    width:50%;
    font-size: 25px;
 }

#desc {
    width:50%;
    height: 100px;
}

.exercise_list{
    background-color: white;
}

.message{
    color: #D8000C;
    background-color: rgb(248, 115, 115);
    width:50%;
    /* margin:10px 400px; */
    margin:auto;
    font-size:2em;
    vertical-align:middle;
    text-align:center;
}

select{
    height:21px;
    margin-right:5px;
}



input.desc {
    height:150px;
    width:380px;
    /* word-break: break-word; */
}